label.control-label {
  float: right;
  margin-top: 6px;

  &.file {
    margin-top: 10px;
  }
}

.help-block {
  color: #a94442;
  float: right;
}

.score i.fa {
  color: #ffd000;
  font-size: 1.5rem !important;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}

input[aria-invalid='true'], textarea[aria-invalid='true'] {
  border-color: #a94442 !important;
}
